/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

body {
  margin:0 10px;
  
  &.fixedNavigationMargin {
    margin:49px 10px 0 10px;
  }
}

.wrap {
  min-width:980px;
  max-width:980px;
}

#container #wpucssmagic {
  min-width:980px;
  max-width:980px;
}


/*********************
FIXED ELEMENTS
*********************/

nav.fixedWrapperPosition {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:9999;
  height:49px;
}

nav.fixedWrapperPosition.ToFadeIn {
  background:#fff;
}

.top-nav.fixedPosition {
  position:fixed;
  top:0;
  z-index:9999;
  display:block;
  width:980px;
  border-bottom:1px solid #333333;
  margin-left:-490px;
  left:50%;
}

/*********************
THICKBOX STYLES
*********************/

body #TB_window {
  border-radius:10px;
  border:10px solid #fff !important;
  background:#fff;
  width:720px !important;
  height:432px !important;
  margin-left: -350px !important;
  margin-top: 50px !important;
  top:0px; 
  
  #TB_title {
   display:none;
  }
  
  iframe {
    width:100% !important;
  }
  
}