/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

body {
  margin:0 10px;
}

.wrap {
  min-width:1010px;
}

#container #wpucssmagic {
  min-width:1010px;
}

/*********************
THICKBOX STYLES
*********************/

body #TB_window {
  border-radius:10px;
  border:10px solid #fff !important;
  background:#fff;
  width:720px !important;
  height:432px !important;
  margin-left: -350px !important;
  margin-top: 50px !important;
  top:0px; 
  
  #TB_title {
   display:none;
  }
  
  iframe {
    width:100% !important;
  }
  
}