/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
  margin:0 10px;
  background-color:#182909;
  background-size:cover;
  
  &.fixedNavigationMargin {
    margin:49px 10px 0 10px;
  }
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  min-width:980px;
  max-width:980px;
}

#container #wpucssmagic {
  min-width:980px;
  max-width:980px;
}

/*********************
FIXED ELEMENTS
*********************/

nav.fixedWrapperPosition {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:9999;
  height:50px;
  border-bottom:1px solid #aaa;
  box-shadow:0 4px 18px rgba(0,0,0,0.4);
}

nav.fixedWrapperPosition.ToFadeIn {
  background:#fff;
}

.top-nav.fixedPosition {
  position:fixed;
  top:0;
  z-index:9999;
  display:block;
  width:980px;
  left:10px;
}

/*********************
SITE HEADER STYLES
*********************/

.header {
  
  .twoway-navigation {
    width:100%;
    position:relative;
    height:139px;
  
    .twoway-navigation-kurnu,
    .twoway-navigation-forum {
      display:inline-block;
    }
    
    .twoway-navigation-kurnu {
      width:440px;
      position:absolute;
      top:0;
      left:0;
      
      a {
        background:url('../images/kurnu-logo-768.png') no-repeat;
        display:inline-block;
        width:100%;
        height:139px; 
        text-decoration:none;
      }
      
    }
    
    .twoway-navigation-forum {
      width:200px;
      position:absolute;
      right:0;
      top:0;
      
      a {
        background:url('../images/kurnu-foorumi-logo.png') no-repeat;
        display:inline-block;
        width:100%;
        height:139px; 
        text-decoration:none;
      }
      
    }
  
  } 
  
  #inner-header {
    
  }
} 

  #logo {}
  
/*********************
FONT SIZE OVERRIDES
*********************/

article.block {
  
  h1,h2 {
    margin-top:0;
    margin-bottom:0;
    text-transform:uppercase;
    font-size:2em;
    margin-right:40px;
    
    a {
      color:$link-color;

    }
    
  }
  
  header.article-header {

    p.comment-count {
      position:absolute;
      top:5px;
      right:0;
      margin:0;
      padding:0 0 6px 0;
      background:url('../images/comments-bg.png') no-repeat 12px bottom;
      opacity:0.75;
      
      a {
        display:inline-block;
        padding:5px 10px;
        background:#5BE100;
        color:#fff;
        border-radius:5px;
        margin:0;
        min-width:2.5em;
        text-align:center;
      }
      
      &:hover {
        opacity:1;
      }
    }
  }

}

.announcement-wrapper {
  .announcement-title {
    font-size:1.7em;
    font-weight:300;
    padding:1px 0;
    
    a {
      text-decoration:none;
    }
  }
}

.block {
  padding:10px 15px;
  margin:0 2px 20px 2px;
  
  h3 {
    font-family: $sans-serif-title;
    font-size: $title-base-size;
    margin:0;
    padding:0;
    color: #222;
    font-weight:300;
    text-transform:uppercase;
  }
}

/*********************
NAVIGATION STYLES
*********************/

#inner-header {
  
  a.navTrigger {
    display:none;
  }
}

nav {
  display:block;
}

.nav {
	background: #fff;
	border: 0;
	margin:0;
	
	ul {
	  padding:0;
	  margin:0;

  	li {
  		display:inline-block;
  		position: relative;
      margin:0 1px 0 0;
      padding:4px;
  
  		a {
  			border-bottom: 0;
        color:$bones-nav;
        padding:10px 15px;
        display:block;
        text-transform:uppercase;
        background:none;
        border-radius:4px;
  
  			/*
  			you can use hover styles here even though this size
  			has the possibility of being a mobile device.
  			*/
  			&:hover, &:focus {
  				background-color: $bones-nav;
  				color:$bones-nav-hover;
  				border-bottom-left-radius:0;
  				border-bottom-right-radius:0;
  
  			}
  		}
  		
  		&:hover, &:focus {
/*         background-color: $bones-nav; */
        
        a {
          background-color: $bones-nav;
          color:$bones-nav-hover;
          border-bottom-left-radius:4px;
          border-bottom-right-radius:4px;
        }
  
      }
  		
  		&.current_page_item a {
  		  background-color: $bones-nav;
        color:$bones-nav-hover;
  		}
  
  		&:first-child {}
  		&:last-child {}
  
  		/*
  		plan your menus and drop-downs wisely.
  		*/
  		ul.sub-menu,
  		ul.children {
  			margin-top: -4px;
  			border-top: 0;
  			position: absolute;
  			display: none;
  			z-index: 8999;
  			border-top-right-radius:4px;
  			border-bottom-right-radius:4px;
  			border-bottom-left-radius:4px;
        background-color: $bones-nav;
        padding:6px 2px 2px 2px;
  
  			li {
  			  display:block;
  			  white-space:nowrap;
  			  padding:0;
  
  				a {
  				  padding:10px 15px;
  					display: block;
  					background-color: $bones-nav;
            color:$bones-nav-hover;
            min-width:198px;
            margin:1px;
  
  					&:hover,
  					&:focus {
              color:#fff;
              border-radius:4px;
              background-color: darken($bones-nav,7%);
  					}
  
  					&:link {}
  				}
  
  				&:first-child {}
  
  				&:last-child {
  
  					a {
  						border-bottom: 0;
  					}
  				}
  
  				/*
  				if you need to go deeper, go nuts
  				just remember deeper menus suck
  				for usability. k, bai.
  				*/
  				ul {}
  			}
  
  			/* highlight sub-menu current page */
  			li.current-menu-item,
  			li.current_page_item,
  			li.current-page-ancestor {
  				a {}
  			}
  		}
  
  		/* showing sub-menus */
  		&:hover ul {
  			top: auto;
  			display: block;
  		}
    }
	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/********************
BREADCRUMB STYLES
style a page via class
********************/

#content .breadcrumb-container {
  padding:10px;
  background:#fff;
  margin:0 0 20px 0;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-top:1px solid #f2f2f2;
  
  a, 
  .current-crumb {
    display:inline-block;
    padding: 0 8px;
    
    b {
      padding: 0 4px;
      font-style:italic;
    }
  }
  
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
/* 	margin-bottom: 2.2em; */
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0;
		margin: 0 0 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}

/*********************
ANNOUNCEMENT BLOCK STYLES
*********************/

#sidebar-announcement .announcement-container {
    border:1px solid #ffffff;
    padding-bottom:0;
    padding:30px 25px 0 25px;
    background-repeat:no-repeat;
    background-position:center center;
  }

.announcement-wrapper {
  
  .announcement-container {
    border:1px solid #ffffff;
    padding-bottom:0;
    padding:30px 25px 0 25px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:auto auto;
  }
  
  .announcement-row-wrapper {
    box-shadow:0 -8px 12px rgba(0, 0, 0, 0.8);
    opacity:0.95;
  }
  
  .announcement-row {
    margin:15px 0 0 0;
    background:#fff;
    padding:5px 15px 0 15px;
    
    &:last-child {
      margin:0;
      padding:10px 15px;
  }
    
  }
  
  .announcement-date {

  }
  
  .announcement-title {
    font-size:1.7em;
    font-weight:300;
    padding:1px 0;
    
    a {
      text-decoration:none;
    }
  }
}


/*********************
FOOTER STYLES
*********************/

.footer {
  margin:0;
}

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

/*********************
THICKBOX STYLES
*********************/

body #TB_window {
  border-radius:10px;
  border:10px solid #fff !important;
  background:#fff;
  width:700px !important;
  height:432px !important;
  margin-left: -350px !important;
  margin-top: 50px !important;
  top:0px; 
  
  #TB_title {
   display:none;
  }
  
  iframe {
    width:100% !important;
  }
  
}

/*********************
KALIS-TV BLOCK STYLE
*********************/

#vimeoRecent {
  width:100%;
}